<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">  
    <!-- <link rel="icon" type="image/png" href="../assets/favicon.png"> -->
</head>

<body class="bg-[url('https://images.pexels.com/photos/4908011/pexels-photo-4908011.jpeg')] bg-no-repeat bg-cover bg-center bg-fixed">

    <!-- navigation -->
    <nav class="py-4 px-5 md:px-10 flex justify-between items-center shadow-2xl">
        <div class="text-center p-2 bg-MainSearchBg">
            <span class="text-orange-500 font-bold text-2xl md:text-3xl ">FoodWo</span>
        </div>
        <div class="flex justify-between items-center">
            <a href="/user/login" class="font-semibold text-xl mx-2 md:mx-4">Login</a>
            <a href="/user/signup" class="px-6 text-center py-2 text-white bg-orange-500 rounded-full mx-2 md:text-xl">Signup</a>
        </div>
    </nav>

    <!-- main-section -->
    <section class="py-4 px-2 text-center flex justify-center items-center h-screen">
        <div class="flex flex-col justify-center items-center my-[50%] px-3 md:w-1/2">
            <div class="flex w-full">
                <input type="text" name="" id="" placeholder="Search for your favourite food" class="outline-orange-500 w-full placeholder:px-1 text-sm md:text-xl border p-4 border-orange-500">
                <a href="/" class="text-center py-4 px-4 text-sm md:text-xl bg-orange-500 md:px-6 rounded-r-full text-white">Search</a>
            </div>
            <p class="text-white md:text-xl my-4 bg-[rgba(0,0,0,0.06)]">Fresh and natural fruits & vegetables on your doorstep. fast delivery</p>
        </div>
    </section>

    <!-- footer -->
    <footer class="py-10 bg-[#02060C]">
        <p class="text-white text-center">Developed By Richu Sony</p>
    </footer>
</body>

</html>