<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
    <style>
        /* Hide the default scrollbar */
        .overflow-x-scroll::-webkit-scrollbar {
            display: none;
        }

        .overflow-y-auto::-webkit-scrollbar {
            display: none;
        }

        /* Define the scrollbar track (optional) */
        .overflow-x-scroll::-webkit-scrollbar-track {
            background: transparent;
            /* You can customize the track's appearance */
        }

        /* Define the scrollbar track (optional) */
        .overflow-y-scroll::-webkit-scrollbar-track {
            background: transparent;
            /* You can customize the track's appearance */
        }

        /* Define the scrollbar thumb (optional) */
        .overflow-x-scroll::-webkit-scrollbar-thumb {
            background: transparent;
            /* You can customize the thumb's appearance */
        }

        /* Define the scrollbar thumb (optional) */
        .overflow-y-scroll::-webkit-scrollbar-thumb {
            background: transparent;
            /* You can customize the thumb's appearance */
        }

        .text-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body class="bg-[#F2F2F2]">
    <!-- navigation -->
    <%- include('../views/userNavbar.ejs') %>

        <section class="px-5 py-2 min-h-screen">
            <h1 class="font-bold text-4xl text-center text-orange-500 my-5">Successfull</h1>
            <div class="flex flex-col md:flex-row justify-evenly items-center mt-10 bg-orange-500 rounded">
                <div class="w-full md:w-96">
                    <img class="w-full h-full" src="/public//images/delivery-truck" alt="">
                </div>

                <div class="w-80 mx-5 py-3 px-2 md:px-0 md:py-0">
                    <h1 class="font-bold text-slate-100 text-xl my-2 text-center">Your has been placed</h1>
                    <h3 class="text-slate-200 font-semibold text-center">Order ID : <span class="font-bold" id="orderId"></span></h3>
                    <h3 class="text-slate-200 font-semibold text-center">Shipping to : <span id="orderAddress"></span></h3>
                </div>
            </div>
            <div class="w-full text-center mt-10 mb-5">
                <button class="py-2 px-4 bg-orange-500 text-center text-white mx-auto rounded" onclick="redirectTo('/user/products')">Continue Shopping</button>
            </div>
        </section>

        <%- include('../views/userFooter.ejs') %>

        <script>
            
        const orderId = document.getElementById('orderId')
            const orderAddress = document.getElementById('orderAddress')
            orderId.innerText=sessionStorage.getItem('orderid')
            orderAddress.innerText=sessionStorage.getItem('orderaddress')
            console.log(sessionStorage.getItem('orderid'),sessionStorage.getItem('orderaddress'))
            function redirectTo(url){
                window.location.href=url;
            }
        </script>

</body>

</html>