<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report</title>
    <link href="/public/css/output.css" rel="stylesheet">
</head>
<body>
    <section class="px-5 py-2">
        
        <div class="flex flex-col mx-auto w-full mt-10">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light" style="text-align: center;">
                    <thead class="border-b dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">SL No</th>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">ORDER ID</th>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">Created At</th>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">Customer ID</th>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">Quantity</th>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">Payment Method</th>
                        <th scope="col" class="px-6 py-4 text-lg" style="font-size: 10px;padding: 0 5px;">Amount</th>
                      </tr>
                    </thead>
                    <tbody>