
                      <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-slate-100 dark:border-neutral-500 dark:hover:bg-slate-300">
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px;">{{SLNO}}</td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px;">{{ORDERID}}</td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px;">{{DATE}}</td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px;">{{USERID}}</td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px;">{{QTY}}</td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px; text-align: start;">{{PAYMETHOD}}</td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm" style="font-size: 10px;padding: 0 5px;">{{AMOUNT}}</td>
                      </tr>
                 