<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Your Profile</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
    <style>
        /* Hide the default scrollbar */
        .overflow-x-scroll::-webkit-scrollbar {
            display: none;
        }

        /* Define the scrollbar track (optional) */
        .overflow-x-scroll::-webkit-scrollbar-track {
            background: transparent;
            /* You can customize the track's appearance */
        }

        /* Define the scrollbar thumb (optional) */
        .overflow-x-scroll::-webkit-scrollbar-thumb {
            background: transparent;
            /* You can customize the thumb's appearance */
        }

        .text-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <%-include('userNavbar') %>
        <section class="px-5 py-2 min-h-screen">

            <div class="my-5 flex flex-col md:flex-row justify-evenly">

                <div class="md:w-1/3 bg-orange-500 px-3 py-2 rounded-xl flex flex-col justify-center items-center">
                    <div class="w-52 rounded-ful mt-2">
                        <img class="w-full h-full object-cover rounded-full" src="/public/images/user2" alt="user">
                    </div>

                    <div class="my-2">
                        <span class="text-white text-2xl font-bold">Thomas Robert</span>
                    </div>

                    <div class="my-1">
                        <span class="text-white text-lg"><i class="fa-solid fa-envelope"></i> thomas@gmail.com <i class="fa-solid text-sm fa-pencil"></i></span>
                    </div>

                    <div class="my-1">
                        <span class="text-white text-lg"><i class="fa-solid fa-phone"></i> 9234325252 <i class="fa-solid text-sm fa-pencil"></i></span>
                    </div>
                </div>

                <!-- Address Management -->
                <div class="mt-5 md:mt-0 md:ml-5">
                    <h1 class="text-xl font-semibold">Address Management</h1>

                    <div class="flex flex-wrap justify-center gap-3 py-2">

                        <div class="border-2 w-72 border-orange-500 rounded-xl">
                            <div class="px-3 py-2 flex justify-between items-center">
                                <p>Karimthakara Kunnel House,<br> Chuzhali P.O, Chempanthotty,<br> Kannur, Kerala, India -<br> 670142</p>
                                <div class="md:mx-2 flex flex-col justify-between">
                                    <i class="my-2 fa-solid text-sm fa-pencil cursor-pointer hover:text-orange-500"></i>
                                    <i class="my-2 fa-solid text-sm fa-trash cursor-pointer hover:text-orange-500"></i>
                                </div>
                            </div>
                        </div>

                        <div class="border-2 w-72 border-orange-500 rounded-xl">
                            <div class="px-3 py-2 flex justify-between items-center">
                                <p>Karimthakara Kunnel House,<br> Chuzhali P.O, Chempanthotty,<br> Kannur, Kerala, India -<br> 670142</p>
                                <div class="md:mx-2 flex flex-col justify-between">
                                    <i class="my-2 fa-solid text-sm fa-pencil cursor-pointer hover:text-orange-500"></i>
                                    <i class="my-2 fa-solid text-sm fa-trash cursor-pointer hover:text-orange-500"></i>
                                </div>
                            </div>
                        </div>

                        <div class="w-72 bg-orange-500 flex justify-center items-center rounded-xl px-3 py-5 text-center text-white cursor-pointer">
                            <span class="text-xl my-auto">Add Address <i class="fa-solid fa-plus"></i></span>
                        </div>

                    </div>
                </div>

            </div>

            <div id="toast"
                class="transition delay-150 bg-orange-500 py-3 px-4 text-center w-56 rounded text-white mx-auto ease-linear opacity-0 -translate-x-full">
            </div>

            <div class="">
                <div class="w-full py-3 px-4 bg-slate-200 rounded my-2">
                    <a class="font-bold text-lg cursor-pointer text-orange-400 hover:text-orange-500"
                        onclick="redirectToOrders()">Your Orders</a>
                </div>
                <div class="w-full py-3 px-4 bg-slate-200 rounded my-2">
                    <a class="font-bold text-lg cursor-pointer text-orange-400 hover:text-orange-500"
                        onclick="redirectToWish()">Your Wishlist</a>
                </div>
                <div class="w-full py-3 px-4 bg-slate-200 rounded my-2">
                    <a class="font-bold text-lg cursor-pointer text-orange-400 hover:text-orange-500"
                        onclick="redirectToWallet()">Wallet</a>
                </div>
                <div class="w-full py-3 px-4 bg-slate-200 rounded my-2">
                    <a class="font-bold text-lg cursor-pointer text-orange-400 hover:text-orange-500"
                        onclick="redirectToReferal()">Refer a friend</a>
                </div>
                <div class="w-full py-3 px-4 bg-slate-200 rounded my-2">
                    <a class="font-bold text-xl cursor-pointer text-orange-400 hover:text-orange-500"
                        onclick="logoutUser(event)">Logout <i class="fa-solid fa-power-off"></i></a>
                </div>
                <div class="w-full py-3 px-4 bg-slate-200 rounded my-2">
                    <a class="font-bold text-xl cursor-pointer text-orange-400 hover:text-orange-500"
                        onclick="deleteAccount(event)">Delete Account <i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </section>
        <%-include('userFooter') %>

            <script>

                let baseImage = "";
                // Image Details
                const image = document.getElementById('doc');
                const imagetag = document.getElementById('imagetag');
                // const uploadtext = document.getElementById('uploadtext');
                const userIcon = document.getElementById('userIcon');


                image.addEventListener('change', async (event) => {
                    const file = event.target.files[0];
                    if (file) {
                        console.log(event);
                        const reader = new FileReader();
                        reader.onload = function () {
                            baseImage = reader.result; // This is the data URL
                            imagetag.style.display = "block";
                            userIcon.style.display = "none";
                            imagetag.setAttribute("src", baseImage);
                        };
                        reader.readAsDataURL(file);
                    }
                });


                const toast = document.getElementById('toast');
                async function userProfileUpdate(event) {

                    const fullname = document.getElementById('fullname').value;
                    const email = document.getElementById('email').value;
                    const phone = document.getElementById('phone').value;
                    const address = document.getElementById('address').value;
                    const addressTwo = document.getElementById('address2').value;
                    const addressThree = document.getElementById('address3').value;
                    // const image = document.getElementById('imagetag').src;

                    const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

                    // Check if the email address matches the regular expression
                    const isEmailValid = emailRegex.test(email);

                    if (!fullname || !email || !phone) {
                        event.preventDefault();
                        toast.innerHTML = `<span id="toastMessage" class="text-sm"><i class="fa-solid fa-triangle-exclamation text-xl"></i> All fields are required.</span>`;
                        toast.classList.remove("opacity-0");
                        toast.classList.remove("-translate-x-full");
                        setTimeout(() => {
                            toast.classList.add("opacity-0");
                            toast.classList.add("-translate-x-full");
                        }, 3000)
                    }
                    else if (!isEmailValid) {
                        event.preventDefault();
                        toast.innerHTML = `<span id="toastMessage" class="text-sm"><i class="fa-solid fa-triangle-exclamation text-xl"></i> Please enter a valid email address.</span>`;
                        toast.classList.remove("opacity-0");
                        toast.classList.remove("-translate-x-full");
                        setTimeout(() => {
                            toast.classList.add("opacity-0");
                            toast.classList.add("-translate-x-full");
                        }, 3000);
                    }
                    else if (phone.length < 10) {
                        event.preventDefault();
                        toast.innerHTML = `<span id="toastMessage" class="text-sm"><i class="fa-solid fa-triangle-exclamation text-xl"></i> Please enter a valid phone number</span>`;
                        toast.classList.remove("opacity-0");
                        toast.classList.remove("-translate-x-full");
                        setTimeout(() => {
                            toast.classList.add("opacity-0");
                            toast.classList.add("-translate-x-full");
                        }, 3000);
                    } else if (!address && !addressTwo && !addressThree) {
                        event.preventDefault();
                        toast.innerHTML = `<span id="toastMessage" class="text-sm"><i class="fa-solid fa-triangle-exclamation text-xl"></i> Please add atleast one address.</span>`;
                        toast.classList.remove("opacity-0");
                        toast.classList.remove("-translate-x-full");
                        setTimeout(() => {
                            toast.classList.add("opacity-0");
                            toast.classList.add("-translate-x-full");
                        }, 3000);
                    } else {
                        // const userdata = {
                        //     userid: '',
                        //     fullname: fullname,
                        //     email: email,
                        //     phone: phone,
                        //     address: address,
                        //     image: image
                        // }
                        console.log('all ok')
                        setTimeout(() => {
                            window.location.reload();
                        }, 3000);

                    }
                    // console.log(userdata)
                }


                function logoutUser(event) {
                    window.location.href = '/logout';
                    sessionStorage.clear()
                }

                function redirectToOrders() {
                    window.location.href = `/my-orders/${sessionStorage.getItem('user_id')}`;
                }

                function redirectToWish() {
                    window.location.href = `/wishlist/${sessionStorage.getItem('user_id')}`;
                }

                function redirectToWallet() {
                    window.location.href = `/wallet/${sessionStorage.getItem('user_id')}`;
                }
                function redirectToReferal() {
                    window.location.href = `/referal/${sessionStorage.getItem('user_id')}`;
                }

                let address3 = '';
                let address2 = '';
                console.log(address2, address3)
                address2 = address2 == 'true' ? true : false;
                address3 = address3 == 'true' ? true : false;
                const addressBtn = document.getElementById('addressBtn');

                if (address3) {
                    addressBtn.classList.add('hidden');
                }
                function newAddress(event) {
                    event.preventDefault();
                    const addContainer = document.getElementById('addContainer');
                    const newAddContainer2 = document.getElementById(`newAddContainer2`);
                    const newAddContainer3 = document.getElementById(`newAddContainer3`);

                    if (address2 || !newAddContainer2.classList.contains('hidden') && newAddContainer3.classList.contains('hidden')) {
                        console.log('got it')
                        newAddContainer3.classList.remove('hidden')
                        addressBtn.classList.add('hidden');
                    }

                    if (!address2 && !address3 && newAddContainer2.classList.contains('hidden') && newAddContainer3.classList.contains('hidden')) {
                        newAddContainer2.classList.remove('hidden')
                    }

                }

                async function deleteAccount(event) {
                    event.preventDefault();
                    const confirm = window.confirm("Are you sure. You want delete your account?");
                    if (confirm) {
                        const user_id = ''
                        const deleting = await fetch(`/delete-account/${user_id}`, {
                            method: 'DELETE'
                        });

                        if (deleting.ok) {
                            const res = await deleting.json();
                            if (res.deleted) {
                                toast.innerHTML = `<span id="toastMessage" class="text-sm"><i class="fa-solid fa-check text-xl"></i> Your account has been deleted.</span>`;
                                toast.classList.remove("opacity-0");
                                toast.classList.remove("-translate-x-full");
                                setTimeout(() => {
                                    toast.classList.add("opacity-0");
                                    toast.classList.add("-translate-x-full");
                                    window.location.href = '/login';
                                }, 3000);
                            } else {
                                toast.innerHTML = `<span id="toastMessage" class="text-sm"><i class="fa-solid fa-triangle-exclamation text-xl"></i> Something went wrong.Please try again later</span>`;
                                toast.classList.remove("opacity-0");
                                toast.classList.remove("-translate-x-full");
                                setTimeout(() => {
                                    toast.classList.add("opacity-0");
                                    toast.classList.add("-translate-x-full");
                                }, 3000);
                            }
                        }
                    }
                }
            </script>

</body>

</html>