<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link href="/public/css/output.css" rel="stylesheet">
</head>
<body>
    <section class="px-5 py-2">
        <div class="px-5">
            <div class="flex border-b-2 border-slate-300">
                <span class="mx-2 text-xl font-bold">FoodWo Invoice</span>
                <span>Order Id : </span>
            </div>

            <div >
                <h2 class="font-semibold">Shipping Address</h2>
                <p>Richu Sony,
                    karimthakara Kunnel House,
                    Chempanthotty,Kannur, Kerala -
                    670142
                </p>
            </div>

            <div class="w-8/12 my-5">
                <table class="w-full border-2 border-black text-center">
                    <tr class="border-b-2 border-black">
                        <th class="">Product</th>
                        <th class="">Qty</th>
                        <th class="">Discount</th>
                        <th class="">Total</th>
                    </tr>

                    <tr>
                        <td>Chicken Biryani</td>
                        <td>2</td>
                        <td>0.00</td>
                        <td>158.00</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>